input {
  width: 100%;
  max-width: 180px !important;
}
.search-result {
  padding-left: 0;
  margin-top: 0;
}

a {
  list-style: none;
  margin-left: 0;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  min-width: 100px;
  max-width: 178px;
  padding: 3.5px;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  color: black;
}

a:hover {
  background-color: #435a60;
  color: white;
  cursor: pointer;
}
